body {
    font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    word-spacing: 3px;
    line-height: 28px;
    /*color: #666;*/
    margin: 0;
}

.main {
    max-width: 600px;
    margin: 50px auto 150px;
    padding: 50px 30px 30px;
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

#title {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 40px;
}

h2 {
    font-weight: 400;

}

a {
    text-decoration: none;
    color: #3194d0;
    transition: all 0.2s ease;
}

a:hover {
    color: #f33;
    border-bottom: 2px solid #f33;
}

.date {
    font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
    font-size: 13px;
    color: #999;
    margin: 0 0 30px;
    letter-spacing: 1px;
}


.name {
  color: #666;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.header {
  letter-spacing: 5px;
  margin: 50px auto 15px;
  text-align: center;
}

.header a {
  font-size: 15px;
  color: #444;
}

.header a:hover {
    border-bottom: none;
}

.links {
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
  color: #999;
  font-size: 24px;
  margin: 0;
}

.links a {
  cursor: pointer;
  padding: 2px;
  margin: 0 3px;
}

.tag {
    font-size: 13px;
    word-spacing: 8px;
    border-right: 1px solid #444;
    padding: 0 19px;
    transition: all 0.3s ease;
}

.tag:first-child {
    border-left: 1px solid #444;
}

.tag:hover {
    color: #f33;
}

.blog-nav {
    position: fixed;
    bottom: 20px;
    height: 20px;
    line-height: 20px;
    font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
    font-size: 15px;
    color: #999;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.2s ease;
    border-bottom: 3px solid transparent;
}

.blog-nav:hover {
    color: #333;
    border-bottom-color: #333;
}

#left {
    left: 50px
}

#right {
    right: 50px
}


pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

code,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
